################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CompaniJL/v17/.suo
.vs/CompaniJL/FileContentIndex/31ca83f9-7363-45bf-a35a-92e00cb2e20e.vsidx
